= form_for @message, html: { class: "form form-horizontal message" } do |f|
  .form-group
    = f.label :text, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :text, class: 'form-control', required: true
    = f.error_span(:text)
  .form-group
    = f.label :conversation_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :conversation_id, class: 'form-control', required: true
    = f.error_span(:conversation_id)
  .form-group
    = f.label :sender_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :sender_id, class: 'form-control', required: true
    = f.error_span(:sender_id)
  .form-group
    = f.label :resender_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :resender_id, class: 'form-control', required: true
    = f.error_span(:resender_id)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), messages_path, :class => 'btn btn-default'
