- model_class = Message
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:text) + ':'
  %br
  = @message.text
%p
  %strong= model_class.human_attribute_name(:conversation_id) + ':'
  %br
  = @message.conversation_id
%p
  %strong= model_class.human_attribute_name(:sender_id) + ':'
  %br
  = @message.sender_id
%p
  %strong= model_class.human_attribute_name(:resender_id) + ':'
  %br
  = @message.resender_id


= link_to t('.back', :default => t("helpers.links.back")), messages_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_message_path(@message), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), message_path(@message), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
