= bootstrap_devise_error_messages!
.panel.panel-default.devise-bs
  .panel-heading
    %h4 Редактирование аккаунта
  .panel-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label 'Пароль'
        %i
          (оставьте поле пустым, если вы не хотите его менять)
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label 'Подтверждение пароля'
        = f.password_field :password_confirmation, class: 'form-control'
      .form-group
        = f.label 'Текущий пароль'
        %i
          (нам нужен ваш текущий пароль для подтверждения ваших изменений)
        = f.password_field :current_password, class: 'form-control'
      = f.submit 'Сохранить', class: 'btn btn-primary'
