= form_for @conversation, html: { class: "form form-horizontal conversation" } do |f|
  .form-group
    = f.label 'Тема'
    = f.text_field :title, class: 'form-control', required: true
    = f.error_span(:title)
    = f.text_field :sender_id, class: 'hide', value: current_user.id
    = f.text_field :reender_id, class: 'hide', value: @user.id
  .form-group
    = f.fields_for :messages do |b|
      = b.label "Сообщение"
      = b.text_area :text, class: 'form-control', required: true
      = b.number_field :sender_id, value: current_user.id, class: 'hide'
      = b.number_field :resender_id, value: @user.id, class: 'hide'
      = b.check_box :sender, checked: true, class: 'hide'
  .form-group
    = f.submit "Начать диалог",class: 'btn btn-primary'
  