- model_class = Conversation
.page-header
  %h1 Диалоги
- if @conversations.count > 0
  %table.table.table-striped
    %thead
      %tr
        %th Название
        %th Дата
        %th Сообщение
    %tbody
      - @conversations.each do |conversation|
        %tr
          %td= link_to conversation.title, conversation_path(conversation)
          %td= conversation.created_at.strftime('%d.%m.%Y')
          %td 
            #{get_message(conversation.id)}
-else
  %h4 Диалогов нет