- model_class = Conversation
.page-header
  %h1
    = @conversation.title
  %span.text-right= @conversation.created_at.strftime('%d.%m.%Y')

.row
  #chat.chat
    - @messages.each do |f|
      -if f.sender_id == current_user.id
        %p.text-right
          %b #{current_user.email.split('@')[0].gsub(/\b./, &:upcase)}: #{f.created_at.strftime('%d.%m.%Y %H:%M')}
          %br/
          = f.text
          %hr.ch
      -else 
        %p.text-left
          %b #{User.find(f.sender_id).email.split('@')[0].gsub(/\b./, &:upcase)}: #{f.created_at.strftime('%d.%m.%Y %H:%M')}
          %br/
          = f.text
          %hr.ch
  .col-md-12
    = form_for @conversation, html: { class: "form conversation" } do |f|
      = f.fields_for @conversation.messages.build, html: { class: "form message" } do |b|
        .form-group.col-md-10
          = b.text_area :text, class: 'form-control', required: true, name: 'conversation[messages_attributes][0][text]', placeholder: 'Введите сообщение...'
          = b.number_field :sender_id, value: current_user.id, class: 'hide', name: 'conversation[messages_attributes][0][sender_id]'
          = b.number_field :resender_id, value: @conversation.reender_id, class: 'hide', name: 'conversation[messages_attributes][0][resender_id]'
          = b.check_box :sender, checked: true, class: 'hide', name: 'conversation[messages_attributes][0][sender]'
        .form-group.col-md-2
          = b.submit "Отправить",class: 'btn btn-primary'


:javascript
  var chat = document.getElementById("chat")
  chat.scrollTop = chat.scrollHeight;