.row
  %h2 Пополнить баланс
  %br/
  = form_tag("/users/balance", method: "get", class:'form-inline') do
    .form-group
      = text_field_tag 'code', nil, class: 'form-control', placeholder: 'Код купона'
      = submit_tag("Активировать", class: 'btn btn-primary')
