.row
  .col-md-12
    .panel-body
      %h3 Создание купонов
      = form_for @coupon do |f|
        .form-group
          %label Сумма
          = f.number_field :value, class: "form-control"
        .form-group
          %label Количество
          %input#coupon_pcs.form-control{:name => "coupon[pcs]", :type => "number"}/
        %br/
        .form-group
          .action
            = f.submit 'Добавить', class: 'btn btn-primary'
  .col-md-12
    %table#coupons.display.table.table-striped
      %thead 
        %tr
          %th Код
          %th Цена
          %th Статус
      %tbody
        -Coupon.all.each do |a|
          %tr
            %td= a.code
            %td= a.value
            %td
              -if a.active?
                Активный
              -else
                Использован
:javascript
  $('#coupons').DataTable({
    "language":{
      "processing": "Подождите...",
      "search": "Поиск:",
      "lengthMenu": "Показать _MENU_ записей",
      "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
      "infoEmpty": "Записи с 0 до 0 из 0 записей",
      "infoFiltered": "(отфильтровано из _MAX_ записей)",
      "infoPostFix": "",
      "loadingRecords": "Загрузка записей...",
      "zeroRecords": "Записи отсутствуют.",
      "emptyTable": "В таблице отсутствуют данные",
      "paginate": {
        "first": "Первая",
        "previous": "Предыдущая",
        "next": "Следующая",
        "last": "Последняя"
      },
      "aria": {
        "sortAscending": ": активировать для сортировки столбца по возрастанию",
        "sortDescending": ": активировать для сортировки столбца по убыванию"
      }
    }
  })