%h2
  .row
    .col-md-4
      %span.glyphicon.glyphicon-user
      #{@user.email.split('@')[0].gsub(/\b./, &:upcase)}
    - unless current_user.id == @user.id
      .col-md-8
        Начать диалог
%hr
.row
  .col-md-4
    .list-group
      %a.list-group-item{:href => "#"}
        %span.glyphicon.glyphicon-star
        Регистрация:
        %span.badge #{@user.created_at.strftime('%d.%m.%Y')}
      %a.list-group-item{:href => "#"}
        %span.glyphicon.glyphicon-user
        Посл. активность:
        %span.badge #{@user.updated_at.strftime('%d.%m.%Y')}
      -if @user.admin?
        %a.list-group-item{:href => "#"}
          %span.glyphicon.glyphicon-th-list
          Количество сделок:
          %span.badge ∞
      -elsif @user.seller?
        %a.list-group-item{:href => "#"}
          %span.glyphicon.glyphicon-th-list
          Количество сделок:
          %span.badge #{sender_account_sold @user.id}
        %a.list-group-item{:href => "#"}
          %span.glyphicon.glyphicon-th-list
          Количество аккаунтов:
          %span.badge #{sender_account_all @user.id}
      -else
        %a.list-group-item{:href => "#"}
          %span.glyphicon.glyphicon-th-list
          Количество сделок:
          %span.badge #{buyer_account @user.id}
  - unless current_user.id == @user.id
    .col-md-8
      - model_class = Conversation
      - @conversation = Conversation.new
      - @conversation.messages.build
      = render :partial => "conversations/form"
