.navbar.navbar-default.navbar-static-top.navgame {
  background-color: #3559ae;
}

.navbar.navbar-default.navbar-static-top.navgame:hover {
  color: white;
}

.navbar.navbar-default.navbar-static-top.navgame .navbar-nav>li>a {
  color: white;
}

.navbar.navbar-default.navbar-static-top.navgame .navbar-nav>li>a:hover, .navbar.navbar-default.navbar-static-top.navgame .navbar-nav>li>a:focus{
  color: #fff;
  background-color: #ffffff2e;
}

img.logo {
	max-height: 44px;
}

span.logo {
  position: relative;
  top: -10px;
  color: white;
}

img.product {
  max-width: 100%;
  margin: 0 auto;
  height: 188px;
}

.img-wrap h5 {
    position: absolute;
    left: 8px;
    top: 154px;
    width: 90%;
    background: #3559ae;
    padding: 5px;
    color: white;
}

span.selection {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
span.rub {
  font-size: 16px;
  font-weight: 600;
}
.row.page {
  min-height: calc(100vh - 201px);
  margin-bottom: 80px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
  position: relative !important;
  display: inline-block !important;
  top: 3px !important;
  left: 10px !important;
}

#footer {
  height: 50px;
  background: #213c79;
  padding: 15px;
  color: white;

}

.chat {
  height: 350px;
  border-radius: 6px;
  border: 2px solid #3659ae;
  background: #3659ae17;
  margin: 20px;
  padding: 20px;
  overflow: auto;
}

hr.ch {
  border-color: #3659ae3b;
}

.fade {
  opacity: 1 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #3559ae;
  font-weight: bold;
}