.panel-body
  = form_for @product do |f|
    .form-group
      %label Название
      = f.text_field :name, class: "form-control"
    .form-group
      .row
        .col-md-9
          %label Описание
          = f.cktext_area :descriptoin, class: "form-control"
        .col-md-3
          %label Обложка
          %img#img_prev.img-responsive{:src => "#{@product.photo}", :alt => ""}/
          %br/
          = f.file_field :photo, :onchange => "readURL(this);"
    %br/
    .form-group
      .action
        = f.submit 'Добавить', class: 'btn btn-primary'

:javascript
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img_prev')
          .attr('src', e.target.result)
          .width(150)
          .height(200);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }