%ul.nav.nav-pills.nav-justified
  %li.active
    %a{:href => "#games", "data-toggle" => "tab"} Игры для Playstation 4
  %li
    %a{:href => "#accounts", "data-toggle" => "tab"} Аккаунты для Playstation 4
:javascript
  $(document).ready(function(){
    $('ul.nav.nav-pills.nav-justified > li a').click(function(e){
      $('li.active').removeClass('active');
      $(e.target).parent().addClass('active');
    })
  });
.tab-content
  #games.tab-pane.fade.in.active
    %h2 Игры для Playstation 4
    .row
      .form-group
        %input#filter.form-control(type="text" placeholder="Поиск")/
    .row#pagination.pagination-sm
      - @products.each do |p|
        -if p.accounts.where(buyer_id: nil).count > 0
          .col-md-2.product-block
            = link_to p do
              .img-wrap
                %img.product.img-responsive.center-block{:src => "#{p.photo.url}", :alt => ""}/
                %h5.text-center
                  -if p.accounts.where(buyer_id: nil).count > 0
                    от #{p.accounts.where(buyer_id: nil).minimum(:price).to_i} руб.
                  -else 
                    Продано
                -p.accounts.where(buyer_id: nil).each do |a|
                  %span.hide=a.title
              %h4.text-center=p.name
            
    :javascript
      $(document).ready(function(){
        $products = $('.product-block').get()
        $('#filter').keyup(function(e){
          text = $(e.target).val().toLowerCase();
          for (var i in $products) {
            name = $($products[i]).find('h4').text().toLowerCase();
            arrs = $($products[i]).find('span.hide').get().map(function(a) {
                    return $(a).text().toLowerCase();
                  })
            arrs.push($($products[i]).find('h4').text().toLowerCase())
            for(var a in arrs){
              if (arrs[a].indexOf(text) >= 0){
                $($products[i]).show();
                break;
              } else {
                $($products[i]).hide();
              }
            }
          }
        })
      })
  #accounts.tab-pane.fade
    %br/
    %table#account.display.table.table-striped
      %thead
        %tr
          %th Продавец
          %th Название
          %th Цена
          %th.text-right Купить

      %tbody
        - @accounts.each do |account|
          %tr
            %td= link_to User.find_by(id: account.seller_id).email.split('@')[0].gsub(/\b./, &:upcase), "/users/#{account.seller_id}"
            %td= account.title
            %td #{account.price.to_i} руб.
            %td.text-right
              = form_tag("/account/pay", method: "get", class:'form-inline') do
                = hidden_field_tag 'url', "#{request.fullpath}"
                = hidden_field_tag 'id', account.id
                = submit_tag("Купить", class: 'btn btn-primary')
            
    :javascript
      $('#account').DataTable({
        "language":{
          "processing": "Подождите...",
          "search": "Поиск:",
          "lengthMenu": "Показать _MENU_ записей",
          "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
          "infoEmpty": "Записи с 0 до 0 из 0 записей",
          "infoFiltered": "(отфильтровано из _MAX_ записей)",
          "infoPostFix": "",
          "loadingRecords": "Загрузка записей...",
          "zeroRecords": "Записи отсутствуют.",
          "emptyTable": "В таблице отсутствуют данные",
          "paginate": {
            "first": "Первая",
            "previous": "Предыдущая",
            "next": "Следующая",
            "last": "Последняя"
          },
          "aria": {
            "sortAscending": ": активировать для сортировки столбца по возрастанию",
            "sortDescending": ": активировать для сортировки столбца по убыванию"
          }
        }
      })

