%h2.text-center= @product.name
%hr/
.row
  .col-md-2
    %img.product.img-responsive.center-block{:src => "#{@product.photo}", :alt => ""}/
  .col-md-10
    = @product.descriptoin.html_safe
%br/
- if @product.accounts.count > 0
  .row
    %table#accounts.display.table.table-striped
      %thead 
        %tr
          %th Продавец
          %th Название
          %th Цена
          %th
      %tbody
        -@product.accounts.where(buyer_id: nil).each do |a|
          %tr
            %td= link_to User.find(a.seller_id).email.split('@')[0].gsub(/\b./, &:upcase), "/users/#{a.seller_id}"
            %td= a.title
            %td #{a.price.to_i} руб.
            %td.text-right
              = form_tag("/account/pay", method: "get", class:'form-inline') do
                = hidden_field_tag 'url', "#{request.fullpath}"
                = hidden_field_tag 'id', a.id
                = submit_tag("Купить", class: 'btn btn-primary')

- else
  %h5 К сожалению товара нет

:javascript
  $('#accounts').DataTable({
    "columnDefs": [ {
      "targets": 2,
      "orderable": false
      } ],
    "language":{
      "processing": "Подождите...",
      "search": "Поиск:",
      "lengthMenu": "Показать _MENU_ записей",
      "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
      "infoEmpty": "Записи с 0 до 0 из 0 записей",
      "infoFiltered": "(отфильтровано из _MAX_ записей)",
      "infoPostFix": "",
      "loadingRecords": "Загрузка записей...",
      "zeroRecords": "Записи отсутствуют.",
      "emptyTable": "В таблице отсутствуют данные",
      "paginate": {
        "first": "Первая",
        "previous": "Предыдущая",
        "next": "Следующая",
        "last": "Последняя"
      },
      "aria": {
        "sortAscending": ": активировать для сортировки столбца по возрастанию",
        "sortDescending": ": активировать для сортировки столбца по убыванию"
      }
    }
  })