!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Gameshop"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  %body
    .navbar.navbar-default.navbar-static-top.navgame
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="/")
          %span.logo
            %img.logo{:src => "/img/logo.png", :alt => ""}
            Gameshop
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            -if user_signed_in?
              %li
                = link_to '/' do
                  %span.glyphicon.glyphicon-star
                  Все Игры
            -if user_signed_in? && (current_user.seller? || current_user.admin?)
              %li
                =link_to new_product_path do
                  %span.glyphicon.glyphicon-plus
                  Добавить Игру
            -if user_signed_in?
              %li
                =link_to accounts_path do
                  %span.glyphicon.glyphicon-gift
                  Аккаунты
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %span.glyphicon.glyphicon-question-sign
                  Помощь
                  %span.caret
                  %ul.dropdown-menu
                    %li
                      =link_to "Правила", '/rules'
                    %li
                      =link_to "Инструкция по установке", '/help'
                    %li
                      =link_to "Пополнение баланса", '/payment'
          %ul.nav.navbar-nav.navbar-right
            -if user_signed_in?
              -if current_user.admin?
                %li
                  %a{:href => "/admin"}
                    %span.glyphicon.glyphicon-signal 
                    Админка
                %li
                  %a{:href => "/configuration"}
                    %span.glyphicon.glyphicon-bookmark
                    Купоны
              %li
                %a{:href => "#{edit_user_registration_path}"}
                  %span.glyphicon.glyphicon-user
                  #{current_user.email.split('@')[0].gsub(/\b./, &:upcase)}
              %li
                %a(href="#{users_balance_path}")
                  #{current_user.balance}
                  %span.rub ₽	
              %li
                %a(href="#{conversations_path}")
                  %span.glyphicon.glyphicon-envelope
                  = message_count
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %span.glyphicon.glyphicon-log-out 
                  Выход
            -else
              %li
                = link_to new_user_registration_path do
                  %span.glyphicon.glyphicon-user 
                  Регистрация
              %li
                = link_to new_user_session_path do
                  %span.glyphicon.glyphicon-log-in 
                  Вход

    .container
      .row.page
        .col-md-10.col-md-offset-1
          = bootstrap_flash
          = yield
        

    #footer
      .container
        .wrapper.text-center
          %span
            GameShop Copyright © 2018
          .clearfix
