.panel-body
  = form_for @account do |f|
    .form-group
      %label Заголовок
      = f.text_field :title, class: "form-control"
    .form-group
      %label Email
      = f.text_field :email, class: "form-control"
    .form-group
      %label Пароль
      = f.text_field :password, class: "form-control"
    .form-group.hide
      = f.number_field :seller_id, value: "#{current_user.id}"
    .form-group
      %label Цена
      = f.text_field :price, class: "form-control"
    .form-group
      %label Игра
      = f.collection_select :product_id, Product.all, :id, :name, {prompt: "Выберите игру"}
    .actions
      = f.submit 'Добавить', class: 'btn btn-primary'
:javascript
  $( "#account_product_id" ).addClass("form-control")
  $( "span.selection" ).addClass("form-control")
  $( "#account_product_id" ).select2({
    theme: "bootstrap"
  });
