-if current_user && (current_user.admin? || current_user.seller?)
  %h1 Добавить аккаунт
  = render 'form'


%h1 Мои аккаунты

%table#account.display.table.table-striped
  %thead
    %tr
      %th Игра
      %th Название
      %th Email
      %th Пароль
      %th Продавец
      %th Покупатель
      %th Цена
      - unless current_user.buyer?
        %th
        %th

  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.product.name
        %td= account.title
        %td= account.email
        %td= account.password
        %td= link_to User.find_by(id: account.seller_id).email.split('@')[0].gsub(/\b./, &:upcase), "/users/#{account.seller_id}"
        %td
          -if account.buyer_id?
            = link_to User.find(account.buyer_id).email.split('@')[0].gsub(/\b./, &:upcase), "/users/#{account.buyer_id}"
        %td #{account.price.to_i} руб.
        - unless current_user.buyer?
          %td= link_to 'Изменить', edit_account_path(account)
          %td= link_to 'Удалить', account, method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  $('#account').DataTable({
    "language":{
      "processing": "Подождите...",
      "search": "Поиск:",
      "lengthMenu": "Показать _MENU_ записей",
      "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
      "infoEmpty": "Записи с 0 до 0 из 0 записей",
      "infoFiltered": "(отфильтровано из _MAX_ записей)",
      "infoPostFix": "",
      "loadingRecords": "Загрузка записей...",
      "zeroRecords": "Записи отсутствуют.",
      "emptyTable": "В таблице отсутствуют данные",
      "paginate": {
        "first": "Первая",
        "previous": "Предыдущая",
        "next": "Следующая",
        "last": "Последняя"
      },
      "aria": {
        "sortAscending": ": активировать для сортировки столбца по возрастанию",
        "sortDescending": ": активировать для сортировки столбца по убыванию"
      }
    }
  })
