%p#notice= notice

%p
  %b Email:
  = @account.email
%p
  %b Password:
  = @account.password
%p
  %b Seller:
  = @account.seller_id
%p
  %b Buyer:
  = @account.buyer_id
%p
  %b Price:
  = @account.price
%p
  %b Product:
  = @account.product

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
